.App{
  /* background-color: black; */
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(167, 157, 157); */
}

.newsWrapper > a {
  text-decoration: none;
  /* color: rgb(6, 24, 24); */
  color: rgb(16 138 138);
  font-weight: 700;
}

.newsWrapper > a:hover{
  color: rgb(80, 162, 177);
  transform: scale(2px);
}

.newsWrapper > p {
  /* color: #ffffff42; */
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
img{
  height: 3em;
}

@media (max-width: 553px) {
  .images:not(:first-child){
    height: 1.5em;
  }
   .images:not(:last-child) {
     height: 1.5em;
   }
}